body
{
    background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_embroidery.png)
    color: white;
}
.img-responsive {
    height: 150px;
    width: 150px;
    display: inline-grid;
}

h1
{
    font-family: 'Nunito', sans-serif;
    color: white;
    text-align: center;
}
p
{ 
    font-family: 'Poiret One', cursive;
    color: white;
    text-align: center;
}
section
{
    font-family: 'Poiret One', cursive;
    color: white; 
    text-align: center; 
}

.btn-info{
    bottom: 0px;
    right: 0px; 
}

#startButton{
    position: fixed;
    top: 0px;
    left: 0px;
}

.off{
  border: 5px solid red;
}